.container-fluid.footer
  .container
    .footer-nav.col-md-6.col-md-offset-4
      %ul
        %li
          = link_to "Home", "/"
        %li
          = link_to "Web", "/web"
        %li
          = link_to "Music", "/music"
        %li
          = link_to "Blog", "/blog"
        %li
          = link_to "Contact", "/contact"