.container-fluid.footer
  .container
    .row
      .footer-nav
        %ul
          %li
            = link_to "Home", "/"
          %li
            = link_to "Work", "/work"
          %li
            = link_to "Contact", "/contact"

    .row
      .social-menu-footer
        = link_to "", "https://linkedin.com/in/bluneon", class: "fa fa-linkedin-square home-hero-social", target: "_blank"
        = link_to "", "https://github.com/brianshimkus", class: "fa fa-github-square home-hero-social", target: "_blank"
        = link_to "", "https://twitter.com/bluneon", class: "fa fa-twitter-square home-hero-social", target: "_blank"
        = link_to "", "http://instagram.com/bluneon", class: "fa fa-instagram home-hero-social", target: "_blank"
