.container-fluid
  %section
    .container
      .social-section
        %h3.text-secondary.text-center.font-regular
          Feel free to connect with me:
          .social-section-icons
            = link_to "", "https://linkedin.com/in/bluneon", class: "fa fa-linkedin", target: "_blank"
            = link_to "", "https://github.com/brianshimkus", class: "fa fa-github-alt", target: "_blank"
            = link_to "", "https://twitter.com/bluneon", class: "fa fa-twitter", target: "_blank"
            = link_to "", "http://instagram.com/bluneon", class: "fa fa-instagram", target: "_blank"
          %h4.text-center
            .row.contact
              Phone:
              %span
                = link_to "708-712-3474", "tel:708-712-3474", target: "_blank" 
            .row.contact
              Email:
              %span
                = link_to "BrianShimkus1@gmail.com", "mailto:brianshimkus1@gmail.com", target: "_blank" 
            .row.contact
              Resume:
              %span
                = link_to "Download here", "BrianShimkus_Resume.pdf", target: "_blank"


  .footer
    .footer-top-link
      = link_to "Back To Top", "#top"