.header
  .container-fluid
    .navigation
      .container
        .logo.col-md-4.padless
          = link_to "Brian Shimkus", "/"
        .col-md-6.col-md-offset-2
          %ul
            %li
              = link_to "Web", "/web"
            %li
              = link_to "Music", "/music"
            %li
              = link_to "Blog", "/blog"
            %li
              = link_to "Contact", "/contact"