.container-fluid.bg-home#top
  .container
    .home-hero
      %h1.text-white Brian Shimkus
      %h2.text-white.font-thin Web Designer & Developer

      .hero-image
        = image_tag "headshot.jpg"
      .home-hero-button
        = link_to "View Work", "#passion", class: "scroll"

.container-fluid.bg-secondary.passion#passion
  .container
    .intro.col-sm-10.col-sm-centered.col-md-12
      %h3.text-white.font-thin.text-center I'm passionate about the art of creating beautiful pixels and making them interactive.

%section.container-fluid.bg-aon.aon-project
  .container
    .home-work
      .col-md-6.text-left.text-white.col-xs-12
        %h2 Aon Manchester United
        / %h3 Worked on:
        / %ul.project-details 
        /   %li Web Development
        .button
          = link_to "View Site", "http://www.aon.com/manutd", target: "_blank", class: "aon"
      .col-md-6
        = image_tag "aon.png", class: "full-image-width"

%section.container-fluid.bg-davita.davita-project
  .container
    .home-work
      .col-md-6
        = image_tag "davita.png", class: "full-image-width"
      .col-md-6.text-left.text-white.col-xs-12
        %h2 Davita Clinical Research
        / %h3 Worked on:
        / %ul.project-details 
        /   %li Web Development
        .button
          = link_to "View Site", "http://www.davitaclinicalresearch.com/", target: "_blank", class: "davita"

%section.container-fluid.bg-vitality.vitality-project
  .container
    .home-work
      .col-md-6.text-left.text-white.col-xs-12
        %h2 The Vitality Group
        / %h3 Worked on:
        / %ul.project-details 
        /   %li Web Development
        .button
          = link_to "View Site", "http://www.thevitalitygroup.com/", target: "_blank", class: "vitality"
      .col-md-6
        = image_tag "vitality.png", class: "full-image-width"

%section.container-fluid.bg-aon.mobile-project
  .container
    .home-work
      .row
        .col-md-10.text-white
          %h2 Aon Manchester United
          = image_tag "aon.png", class: "full-image-width"
      .row
        .col-md-6.text-left.text-white.col-xs-12
          / %h3 Worked on:
          / %ul.project-details 
          /   %li Web Development
          .button.text-center
            = link_to "View Site", "http://www.aon.com/manutd", target: "_blank", class: "aon"

%section.container-fluid.bg-davita.mobile-project
  .container
    .home-work
      .col-md-6.text-white
        %h2 Davita Clinical Research
        = image_tag "davita.png", class: "full-image-width"
      .col-md-6.text-left.text-white.col-xs-12
        / %h3 Worked on:
        / %ul.project-details 
        /   %li Web Development
        .button.text-center
          = link_to "View Site", "http://www.davitaclinicalresearch.com/", target: "_blank", class: "davita"

%section.container-fluid.bg-vitality.mobile-project
  .container
    .home-work
      .col-md-6.text-white
        %h2 The Vitality Group
        = image_tag "vitality.png", class: "full-image-width"
      .col-md-6.text-left.text-white.col-xs-12
        / %h3 Worked on:
        / %ul.project-details 
        /   %li Web Development
        .button.text-center
          = link_to "View Site", "http://www.thevitalitygroup.com/", target: "_blank", class: "vitality"