.container-fluid.bg-home#top
  .container
    .home-hero
      %h1.text-white.text-uppercase Brian Shimkus
      %h2.text-white.font-thin.text-uppercase Web Developer | Designer

      .hero-image
        = image_tag "headshot.jpg"
      .home-hero-button
        = link_to "View Work", "#passion", class: "scroll"

.container-fluid.bg-secondary.passion#passion
  .container
    .intro.col-sm-10.col-sm-centered.col-md-12
      %h3.text-white.font-thin.text-center The art of creating beautiful pixels and making them interactive is my passion.

%section.container-fluid.bg-hoptacular-blue.davita-project
  .container
    .home-work
      .col-md-6.col-sm-6
        = image_tag "http://placehold.it/520x350", class: "full-image-width"
      .col-md-6.text-left.text-white.col-xs-12.col-sm-6
        %h2 Hoptacular
        %h4.text-uppercase Role in project:
        %ul.project-details 
          %h4
            %li Brand development
            %li Mobile UI/UX

%section.container-fluid.bg-aon.aon-project
  .container
    .home-work
      .col-md-6.text-left.text-white.col-xs-12.col-sm-6
        %h2 Aon Manchester United
        %h4.text-uppercase Role in project:
        %ul.project-details 
          %h4 
            %li Worked with custom fields in the wordpress back-end
            %li Set up blog with media embedding
            %li Developed Join Aon timeline 
            %li Developed header and menu
            %li Added search field
            %li Empower Results embed

        .button
          = link_to "View Site", "http://www.aon.com/manutd", target: "_blank", class: "aon"
      .col-md-6.col-sm-6
        = image_tag "aon.png", class: "full-image-width"

%section.container-fluid.bg-caribou.davita-project
  .container
    .home-work
      .col-md-6.col-sm-6
        = image_tag "http://placehold.it/520x350", class: "full-image-width"
      .col-md-6.text-left.text-white.col-xs-12.col-sm-6
        %h2 Caribou
        %h4.text-uppercase Role in project:
        %ul.project-details 
          %h4
            %li Menu layout
            %li Color coordination
            %li Typography

%section.container-fluid.bg-davita.davita-project
  .container
    .home-work
      .col-md-6.text-left.text-white.col-xs-12.col-sm-6
        %h2 Davita Clinical Research
        %h4.text-uppercase Role in project:
        %ul.project-details 
          %h4
            %li Developed landing page
            %li Developed static site
            %li Converted static site to custom wordpress theme
            %li Worked with custom fields
            %li Added download link with modal to download media
        .button
          = link_to "View Site", "http://www.davitaclinicalresearch.com/", target: "_blank", class: "davita"
      .col-md-6.col-sm-6
        = image_tag "davita.png", class: "full-image-width"

%section.container-fluid.bg-vitality.vitality-project
  .container
    .home-work
      .col-md-6.col-sm-6
        = image_tag "vitality.png", class: "full-image-width"
      .col-md-6.text-left.text-white.col-xs-12.col-sm-6
        %h2 The Vitality Group
        %h4.text-uppercase Role in project:
        %ul.project-details 
          %h4
            %li Developed custom wordpress theme from PSD
            %li Blog set up
            %li Various embeds using HubSpot
            %li Added download link with modal to download media
        .button
          = link_to "View Site", "http://www.thevitalitygroup.com/", target: "_blank", class: "vitality"

%section.container-fluid.bg-aon.mobile-project
  .container
    .home-work
      .col-md-10.text-white
        %h2 Aon Manchester United
        = image_tag "aon.png", class: "full-image-width mobile-project-image"
      .col-md-6.text-left.text-white.col-xs-12
        %h4.text-uppercase Role in project:
        %ul.project-details 
          %h4 
            %li Worked with custom fields in the wordpress back-end
            %li Set up blog with media embedding
            %li Developed Join Aon timeline 
            %li Developed header and menu
            %li Added search field
            %li Empower Results embed
        .button.text-center
          = link_to "View Site", "http://www.aon.com/manutd", target: "_blank", class: "aon"

%section.container-fluid.bg-davita.mobile-project
  .container
    .home-work
      .col-md-6.text-white
        %h2 Davita Clinical Research
        = image_tag "davita.png", class: "full-image-width mobile-project-image"
      .col-md-6.text-left.text-white.col-xs-12
        %h4.text-uppercase Role in project:
        %ul.project-details 
          %h4
            %li Developed landing page
            %li Developed static site
            %li Converted static site to custom wordpress theme
            %li Worked with custom fields
            %li Added download link with modal to download media
        .button.text-center
          = link_to "View Site", "http://www.davitaclinicalresearch.com/", target: "_blank", class: "davita"

%section.container-fluid.bg-vitality.mobile-project
  .container
    .home-work
      .col-md-6.text-white
        %h2 The Vitality Group
        = image_tag "vitality.png", class: "full-image-width mobile-project-image"
      .col-md-6.text-left.text-white.col-xs-12
        %h4.text-uppercase Role in project:
        %ul.project-details 
          %h4
            %li Developed custom wordpress theme from PSD
            %li Blog set up
            %li Various embeds using HubSpot
            %li Added download link with modal to download media
        .button.text-center
          = link_to "View Site", "http://www.thevitalitygroup.com/", target: "_blank", class: "vitality"