.container-fluid.bg-home#top
  .container
    .home-hero
      %h1.text-white Brian Shimkus
      %h2.text-white.font-thin Web Designer & Developer

      .hero-image
        = image_tag "headshot.jpg"
      .home-hero-button
        = link_to "View Work", "#passion", class: "scroll"

.container-fluid.bg-secondary.passion#passion
  .container
    .intro
      %h3.text-white.font-thin.text-center I'm passionate about the art of creating beautiful pixels and making them interactive.

%section.container-fluid.bg-project1
  .container
    .home-work
      .col-md-6.text-left.text-white
        %h2 Project One Name
        %h3 Worked on:
        %ul.project-details 
          %li Web Development
        .button
          = link_to "View Site", "http://google.com", target: "_blank", class: "project1"
      .col-md-6
        = image_tag "http://placehold.it/500x350/d8d8d8/bcbcbc"

%section.container-fluid.bg-project2
  .container
    .home-work
      .col-md-6
        = image_tag "http://placehold.it/500x350/d8d8d8/bcbcbc"
      .col-md-6.text-right.text-white
        %h2 Project Two Name
        %h3 Worked on:
        %ul.project-details 
          %li Web Development
        .button
          = link_to "View Site", "http://google.com", target: "_blank", class: "project2"

%section.container-fluid
  .container
    .social-section
      %h3.text-secondary.text-center.font-regular
        Feel free to connect with me:
        .social-section-icons
          = link_to "", "tel:708-712-3474", class: "fa fa-phone", target: "_blank"
          = link_to "", "mailto:brianshimkus1@gmail.com", class: "fa fa-envelope"
          = link_to "", "https://linkedin.com/in/bluneon", class: "fa fa-linkedin", target: "_blank"
          = link_to "", "https://github.com/brianshimkus", class: "fa fa-github-alt", target: "_blank"
          = link_to "", "https://twitter.com/bluneon", class: "fa fa-twitter", target: "_blank"
          = link_to "", "http://instagram.com/bluneon", class: "fa fa-instagram", target: "_blank"
        .contact-info
